
h4 {
    position: relative;
    bottom: 28px;
}
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("StarSygilOminium.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}